<p style="color: green"><%= notice %></p>

<div class="row justify-content-center align-items-center">
  <div class="col-md-4 mb-4"> 
    <div class="card d-flex flex-column h-100 text-center p-3"> 
      <div class="w-75 mx-auto">
        <%= render @task %>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <button type="button" class="btn btn-success"><%= link_to "Edit this task", edit_task_path(@task), class: "text-white text-decoration-none"%>
  </button>
  <button type="button" class="btn btn-danger"><%= link_to "Back to tasks", tasks_path, class: "text-white text-decoration-none"%>
  </button>


  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
