<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users" class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4"> 
        <div class="card d-flex flex-column h-100 text-center p-3"> 
        <%= render user %>
        <div class="mt-auto">
          <%= link_to "Show this user", user, class: "btn btn-primary btn-sm w-100 fw-bold fs-4" %>
      </div>

</div>
      </div>
    <% end %>
  </div>
</div>

<button type="button" class="btn btn-success"><%= link_to "New user", new_user_path, class: "text-white text-decoration-none"%>
</button>
<br>

<button type="button" class="btn btn-info"><%= link_to "Voir mes tâches", tasks_path, class: "text-white text-decoration-none"%>
</button>

