<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<button type="button" class="btn btn-success"><%= link_to "New user", new_user_path, class: "text-white text-decoration-none"%>
</button>
<br>

<button type="button" class="btn btn-info"><%= link_to "Voir mes tâches", tasks_path, class: "text-white text-decoration-none"%>
</button>

