<p style="color: green"><%= notice %></p>

<%= render @user %>

<ul>
<% @user.tasks.each do |task| %>
	<li><%= link_to task %></li>
<% end %>
</ul>
<div>
  <button type="button" class="btn btn-success"><%= link_to "Edit this user", edit_user_path(@user), class: "text-white text-decoration-none"%>
  </button>
  <button type="button" class="btn btn-danger"><%= link_to "Back to users", users_path, class: "text-white text-decoration-none"%>
  </button>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
